USE [master]
GO
/****** Object:  Database [CarRent]    Script Date: 3/17/2024 9:03:09 PM ******/
CREATE DATABASE [CarRent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarRent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CarRent.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarRent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CarRent_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarRent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarRent]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/17/2024 9:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](100) NULL,
	[Password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 3/17/2024 9:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BrandModel]    Script Date: 3/17/2024 9:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrandModel](
	[BrandModelId] [int] IDENTITY(1,1) NOT NULL,
	[BrandId] [int] NULL,
	[ModelId] [int] NULL,
	[ClassId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 3/17/2024 9:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarId] [int] IDENTITY(1,1) NOT NULL,
	[Color] [nvarchar](10) NULL,
	[CarPrice] [float] NULL,
	[RentPrice] [float] NULL,
	[BrandModelId] [int] NULL,
	[CarStatusId] [int] NULL,
	[CarVin] [nvarchar](17) NULL,
	[Photo] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarStatus]    Script Date: 3/17/2024 9:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarStatus](
	[CarStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CarStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 3/17/2024 9:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model]    Script Date: 3/17/2024 9:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[ModelId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 3/17/2024 9:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[TotalPrice] [int] NULL,
	[CarId] [int] NULL,
	[RequestStatusId] [int] NULL,
	[ClientId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestStatus]    Script Date: 3/17/2024 9:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestStatus](
	[RequestStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/17/2024 9:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/17/2024 9:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[MiddleName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[RoleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountId], [Login], [Password]) VALUES (1, N'admin', N'admin')
INSERT [dbo].[Account] ([AccountId], [Login], [Password]) VALUES (2, N'client', N'client')
INSERT [dbo].[Account] ([AccountId], [Login], [Password]) VALUES (3, N'employee', N'employee')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([BrandId], [Name]) VALUES (1, N'Toyota')
INSERT [dbo].[Brand] ([BrandId], [Name]) VALUES (2, N'BMW')
INSERT [dbo].[Brand] ([BrandId], [Name]) VALUES (3, N'Audi')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[BrandModel] ON 

INSERT [dbo].[BrandModel] ([BrandModelId], [BrandId], [ModelId], [ClassId]) VALUES (1, 1, 1, 1)
INSERT [dbo].[BrandModel] ([BrandModelId], [BrandId], [ModelId], [ClassId]) VALUES (2, 2, 2, 2)
INSERT [dbo].[BrandModel] ([BrandModelId], [BrandId], [ModelId], [ClassId]) VALUES (3, 3, 3, 1)
SET IDENTITY_INSERT [dbo].[BrandModel] OFF
GO
SET IDENTITY_INSERT [dbo].[Car] ON 

SET IDENTITY_INSERT [dbo].[Car] OFF
GO
SET IDENTITY_INSERT [dbo].[CarStatus] ON 

INSERT [dbo].[CarStatus] ([CarStatusId], [Name]) VALUES (1, N'Свободна')
INSERT [dbo].[CarStatus] ([CarStatusId], [Name]) VALUES (2, N'Занята')
INSERT [dbo].[CarStatus] ([CarStatusId], [Name]) VALUES (3, N'На тех. обслуживании')
SET IDENTITY_INSERT [dbo].[CarStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([ClassId], [Name]) VALUES (1, N'Седан')
INSERT [dbo].[Class] ([ClassId], [Name]) VALUES (2, N'Внедорожник')
INSERT [dbo].[Class] ([ClassId], [Name]) VALUES (3, N'Хэтчбек')
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
SET IDENTITY_INSERT [dbo].[Model] ON 

INSERT [dbo].[Model] ([ModelId], [Name]) VALUES (1, N'Camry')
INSERT [dbo].[Model] ([ModelId], [Name]) VALUES (2, N'X5')
INSERT [dbo].[Model] ([ModelId], [Name]) VALUES (3, N'A6')
SET IDENTITY_INSERT [dbo].[Model] OFF
GO
SET IDENTITY_INSERT [dbo].[Request] ON 

INSERT [dbo].[Request] ([Id], [StartDate], [EndDate], [TotalPrice], [CarId], [RequestStatusId], [ClientId]) VALUES (1, CAST(N'2024-03-08' AS Date), CAST(N'2024-03-22' AS Date), 28000, 1, 3, 4)
INSERT [dbo].[Request] ([Id], [StartDate], [EndDate], [TotalPrice], [CarId], [RequestStatusId], [ClientId]) VALUES (2, CAST(N'2024-03-09' AS Date), CAST(N'2024-03-19' AS Date), 20000, 1, 4, 4)
INSERT [dbo].[Request] ([Id], [StartDate], [EndDate], [TotalPrice], [CarId], [RequestStatusId], [ClientId]) VALUES (3, CAST(N'2024-03-09' AS Date), CAST(N'2024-03-31' AS Date), 44000, 1, 4, 4)
SET IDENTITY_INSERT [dbo].[Request] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestStatus] ON 

INSERT [dbo].[RequestStatus] ([RequestStatusId], [Name]) VALUES (1, N'В обработке')
INSERT [dbo].[RequestStatus] ([RequestStatusId], [Name]) VALUES (2, N'Принята')
INSERT [dbo].[RequestStatus] ([RequestStatusId], [Name]) VALUES (3, N'Отклонена')
SET IDENTITY_INSERT [dbo].[RequestStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (2, N'Сотрудник')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (3, N'Клиент')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[User] ([UserId], [FirstName], [LastName], [MiddleName], [Email], [Phone], [RoleId]) VALUES (1, N'Кирилл', N'Черный', N'Иванович', N'kirill@gmail.com', N'6464646464', 1)
INSERT [dbo].[User] ([UserId], [FirstName], [LastName], [MiddleName], [Email], [Phone], [RoleId]) VALUES (2, N'Андрей', N'Кисляков', N'Степанович', N'andreykisly@gmail.com', N'567676522334', 2)
INSERT [dbo].[User] ([UserId], [FirstName], [LastName], [MiddleName], [Email], [Phone], [RoleId]) VALUES (3, N'Марина', N'Лебедева', N'Александровна', N'lebedmarina@gmail.com', N'4564565656', 3)
GO
ALTER TABLE [dbo].[BrandModel]  WITH CHECK ADD FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brand] ([BrandId])
GO
ALTER TABLE [dbo].[BrandModel]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([ClassId])
GO
ALTER TABLE [dbo].[BrandModel]  WITH CHECK ADD FOREIGN KEY([ModelId])
REFERENCES [dbo].[Model] ([ModelId])
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD FOREIGN KEY([BrandModelId])
REFERENCES [dbo].[BrandModel] ([BrandModelId])
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD FOREIGN KEY([CarStatusId])
REFERENCES [dbo].[CarStatus] ([CarStatusId])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([CarId])
REFERENCES [dbo].[Car] ([CarId])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([ClientId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([RequestStatusId])
REFERENCES [dbo].[RequestStatus] ([RequestStatusId])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Account] ([AccountId])
GO
USE [master]
GO
